<a href="https://colab.research.google.com/github/valdenio458/livro-python-para-analise-de-dados/blob/main/capitulo_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('examples/ex1.csv')

In [ ]:
df

In [ ]:
result = pd.read_csv('examples/ex5.csv')

In [ ]:
result

In [ ]:
pd.isnull(result)

Lendo arquivos-texto em partes

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
result = pd.read_csv('examples/ex6.csv')

In [ ]:
result

In [ ]:
#Para ler uma quantidade pequena de linhas use 'nrows'
pd.read_csv('examples/ex6.csv', nrows=5)

Interagindo com APIs web

In [ ]:
import requests

In [ ]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [ ]:
resp = requests.get(url)

In [ ]:
resp

In [ ]:
data = resp.json()

In [ ]:
data

In [ ]:
data[20]['title']

In [ ]:
# Passando 'data' para DataFrame e extraindo os campos de interesse
issues = pd.DataFrame(data, columns=['title', 'labels', 'state'])

In [ ]:
issues

Testando API de Pokemons

In [ ]:
import requests

In [ ]:
pokemon = 'https://pokeapi.co/api/v2/pokemon/'

In [ ]:
resp_pokemon = requests.get(pokemon)

In [ ]:
resp_pokemon

In [ ]:
data2 = resp_pokemon.json()

In [ ]:
data2

In [ ]:
data2['results']

In [ ]:
data2['results'][3]

In [ ]:
data2['results'][3]['url']

Interagindo com bancos de dados

In [2]:
import sqlite3

In [3]:
# Cria a tabela
query = """
CREATE TABLE test1 (
  a VARCHAR(20),
  b VARCHAR(20),
  c REAL,
  d INTEGER
);"""

In [6]:
con = sqlite3.connect('mydata_NOVO.sqlite')

In [7]:
con.execute(query)

In [8]:
con.commit()

In [9]:
# Insere dados na tabela
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee','Florida', 2.6, 3),
        ('Sacramento', 'California',1.7, 5)]

In [12]:
stmt = "INSERT INTO test1 VALUES(?, ?, ?, ?)"

In [13]:
con.executemany(stmt, data)

In [14]:
con.commit()

In [15]:
cursor = con.execute('SELECT * FROM test1')

In [16]:
rows = cursor.fetchall()

In [17]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [18]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [19]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [24]:
import sqlalchemy as sqla

In [27]:
db = sqla.create_engine('sqlite:///mydata_NOVO.sqlite')

In [28]:
pd.read_sql('SELECT * FROM test1', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5