<a href="https://colab.research.google.com/github/valdenio458/livro-python-para-analise-de-dados/blob/main/capitulo_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('examples/ex1.csv')

In [9]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
result = pd.read_csv('examples/ex5.csv')

In [14]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

Lendo arquivos-texto em partes

In [3]:
pd.options.display.max_rows = 10

In [4]:
result = pd.read_csv('examples/ex6.csv')

In [5]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [6]:
#Para ler uma quantidade pequena de linhas use 'nrows'
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

Interagindo com APIs web

In [3]:
import requests

In [ ]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [ ]:
resp = requests.get(url)

In [ ]:
resp

In [ ]:
data = resp.json()

In [ ]:
data

In [ ]:
data[20]['title']

In [ ]:
# Passando 'data' para DataFrame e extraindo os campos de interesse
issues = pd.DataFrame(data, columns=['title', 'labels', 'state'])

In [ ]:
issues

Testando API de Pokemons

In [4]:
import requests

In [5]:
pokemon = 'https://pokeapi.co/api/v2/pokemon/'

In [6]:
resp_pokemon = requests.get(pokemon)

In [7]:
resp_pokemon

In [8]:
data2 = resp_pokemon.json()

In [9]:
data2

{'count': 1302,
 'next': 'https://pokeapi.co/api/v2/pokemon/?offset=20&limit=20',
 'previous': None,
 'results': [{'name': 'bulbasaur',
   'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
  {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
  {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
  {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
  {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
  {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
  {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
  {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
  {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
  {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
  {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
  {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
  {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
  {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
  {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
  {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
  {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
  {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
  {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
  {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'}]}

In [21]:
data2['results']

[{'name': 'bulbasaur', 'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
 {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
 {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
 {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
 {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
 {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
 {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
 {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
 {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
 {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
 {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
 {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
 {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
 {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
 {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
 {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
 {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
 {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
 {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
 {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'}]

In [22]:
data2['results'][3]

{'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'}

In [23]:
data2['results'][3]['url']

'https://pokeapi.co/api/v2/pokemon/4/'

Interagindo com bancos de dados

In [24]:
import sqlite3

In [25]:
# Cria a tabela
query = """
CREATE TABLE test (
  a VARCHAR(20),
  b VARCHAR(20),
  c REAL,
  d INTEGER
);"""

In [26]:
con = sqlite3.connect('mydata.sqlite')

In [27]:
con.execute(query)

In [28]:
con.commit()

In [38]:
# Insere dados na tabela
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee','Florida', 2.6, 3),
        ('Sacramento', 'California',1.7, 5)]

In [39]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [40]:
con.executemany(stmt, data)

In [41]:
con.commit()

In [42]:
cursor = con.execute('SELECT * FROM test')

In [43]:
rows = cursor.fetchall()

In [44]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [49]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [50]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

In [53]:
import sqlalchemy as sqla

In [54]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [ ]:
pd.read_sql('SELECT * FROM test', db)